body, table{
    height: 100vh;
    width: 100%;
}
.table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

}
.one{
    background-color: green;
    text-align: center;
    font-size: 50px;
    border: 2px solid black;

}
.two{
    background-color:wheat;
    text-align: center;
    font-size: 50px;
    border: 2px solid black;
}
hr{
    border-style: solid;
}